.editormd-custom-toolTip {
    position: absolute;
    left: 0;
    margin-top: 2px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 6px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(218, 188, 188, 0.15);
    color: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    display: none;
}

.Editormd_Wrapper {
    width: 100%;
    background: #ffffff;
    position: relative;
}

.Editormd {
    width: calc(100% - 221px);
    height: calc(100vh - 58px);
    overflow-y: scroll;
    border: 1px solid #ddd;
}

.editormd_mobile {
    width: 100%;
}

.editormd_mobile .CodeMirror {
    width: 100% !important;
}

.editormd_mobile #editormd_edit .editormd-dialog .editormd-dialog-container {
    padding-left: 20px;
    padding-right: 15px
}

#editormd_edit {
    margin: 0;
    min-height: calc(100vh - 58px);
}

.CodeMirror_title {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    height: 60px;
    overflow: hidden;
}

.CodeMirror_title>input {
    width: 100%;
    height: 100%;
    color: #262626;
    font-weight: 700;
    font-size: 30px;
    padding-left: 10px;
}

.CodeMirror_title_left {
    width: 48px;
    height: 100%;
    background-color: #f7f7f7;
    flex-shrink: 0;
    justify-content: center;
}

.CodeMirror_title_left>img {
    width: 20px;
}

.codemirror_title_mobile {
    height: 44px;
}

.codemirror_title_mobile>.CodeMirror_title_left {
    display: none;
}

.codemirror_title_mobile>input {
    font-size: 20px;
}

#preview-container {
    background: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    top: 1px;
    left: 0;
    padding: 40px 10%;
    padding-bottom: 100px;
    box-sizing: border-box;
    transition: all linear 0.2s;
    transform: translateX(100%);
}

#preview-container.preview_mobile {
    padding: 40px 16px;
}

#preview-container.preview_show {
    transform: translateX(0);
}

.CodeMirror-sizer {
    padding-bottom: 70px !important;
}

.mobile_save {
    position: fixed;
    bottom: 8%;
    right: 8%;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #595959;
    z-index: 1111;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_save>img {
    width: 25px;
    height: 25px;
}