.header-wrapper {
    width: 100%;
    height: 58px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
    z-index: 11;
    will-change: margin;
    padding: 0 42px;
}

.header-wrapper_mobile {
    padding: 0 12px;
}

.header-wrapper_Hide {
    margin-top: -58px;
}

.header-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left,
.header-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-left {
    overflow: hidden;
}

.header-left_favicon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    flex-shrink: 0;
}

.Header_title {
    display: block;
    flex-shrink: 0;
    background: url('/images/logo.jpeg') no-repeat 0 0;
    width: 97px;
    height: 84%;
    background-size: contain;
    position: relative;
    margin-right: 10%;
}

.header_disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.Header_link_workspace {
    margin-left: 40px;
}

.Header_link {
    display: block;
    color: #595959;
    font-size: 14px;
    padding: 0 14px;
    height: 100%;
    line-height: 58px;
    flex-shrink: 0;
}

.Header_link_actived {
    color: #262626;
    font-weight: bold;
}

.Header_link_more>.Icon>i {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 2px;
}

.Header_Popover_Add {
    margin-right: 40px;
}

.Header_Popover_Add_Icon {
    font-size: 20px;
    margin-right: 4px;
    color: #25B668;
    position: relative;
    top: 2px;
}

.Header_Popover_Add .Icon:last-child {
    transform: scale(.8);
    top: 2.5px;
}

.Header_Popover_Add_Item {
    width: 124px;
    height: 32px;
    color: rgb(89, 89, 89);
    padding: 0 16px;
    color: rgb(89, 89, 89);
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}

.Header_Popover_Add_Item>.Icon {
    top: 1px;
    margin-right: 6px;
}

.Header_Popover_Add_Item:hover {
    background-color: rgb(233, 247, 236);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.header-spaces__list {
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 24px;
    cursor: pointer;
    max-width: 100%;
}

.header-spaces__list:hover {
    background: #e9f7ec;
}

.header-spaces__list>img {
    width: 20px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    flex-shrink: 0;
}

.header-spaces__list>img:last-child {
    margin-left: 10px;
    width: 13px;
    height: 15px;
}

.header-spaces__list>span {
    color: #8c8c8c;
    font-size: 14px;
    flex-shrink: 0;
}

.header-spaces__list>span:nth-child(3) {
    padding: 0 6px;
}