.catalog-item {
  background: #fafafa;
  user-select: none;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  color: #262626;
  font-size: 14px;
  position: relative;
  margin: 8px auto;
}

.chapter-item__disabled {
  text-decoration: line-through;
}

.catalog-item:not(.catalog-item_folder):hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15);
}

.catalog-item_folder {
  background: transparent;
  border: none;
  border-top: 1px solid #d9d9d9;
}

.catalog-item_folder:after {
  content: ' ';
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  position: absolute;
  top: 36px;
  left: 0;
}

.catalog-item_folder:before {
  content: ' ';
  width: 1px;
  height: 36px;
  background: #d9d9d9;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-item__right-border {
  width: 1px;
  height: 36px;
  background: #d9d9d9;
  position: absolute;
  top: 0;
  right: 0;
}

.catalog-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 20px;
}

.catalog-content>.flex>.Icon {
  top: 2px;
  margin-right: 4px;
}

.chapter-item__info {
  color: #bfbfbf;
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 100%;
}

.chapter-item__setting {
  cursor: pointer;
}

.chapter-item__setting>.Icon {
  font-size: 20px;
  margin-left: 4px;
}

.chapter-item__move {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  height: 100%;
}

.chapter-item__move>img {
  margin-left: 40px;
  width: 20px;
}

.chapter-item__move>img:nth-child(2) {
  transform: rotate(180deg);
}

.chapter-item__move-disabled {
  display: none;
}