.Avatar_wrapper {
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.Avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 4px;
}

.header-user-popover {
  width: 140px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 12px;
  right: 0;
}

.header-userpopover-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.header-userpopover-avatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
}


.header-userpopover-info>div {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #595959;
  font-weight: bold;
  margin-bottom: 6px;
}

.header-userpopover-info>div>span {
  font-weight: normal;
  font-family: PingFangSC-Regular;
}

.header-userpopover-bom {
  box-sizing: border-box;
  padding-top: 8px;
}

.header-userpopover-link {
  display: flex;
  align-items: center;
  position: relative;
  height: 32px;
  margin-bottom: 5px;
}

.header-userpopover-link:hover {
  background: #f5f5f5;
}

.header-userpopover-link>span {
  margin-left: 5px;
  color: #595959;
  font-size: 14px;
}

.header-userpopover-link>div {
  position: relative;
  top: 1px;
}

.header-userpopover-link>div:last-child {
  position: absolute;
  top: 9px;
  right: 16px;
}

.Avatar_Down_Icon {
  transform: scale(.8);
}