.space-detail {
  position: relative;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 88px 0 64px;
  background: #fff;
  max-width: 1056px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.space_detail_loading {
  top: 40px;
  padding-bottom: 40px;
  background: gray;
}

.space_detail_header .header-container {
  max-width: 1056px;
}

.space-detail_mobile {
  margin-top: 0;
}

.space-detail>h1 {
  color: #262626;
  font-size: 24px;
  font-weight: 600;
  padding: 0 32px;
}

.space-detail>h4 {
  font-size: 14px;
  color: #595959;
  margin-top: 12px;
  padding: 0 32px;
}

.space-detail>img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 24px;
  cursor: pointer;
}