.simditor_page {
  width: 100%;
  background: #fff;
}

.simditor_content {
  margin: 0 auto;
  margin-top: 58px;
  position: relative;
}

.simditor_textarea {
  visibility: hidden;
}

.simditor .simditor-wrapper {
  background: transparent;
  padding-top: 0 !important;
}

.simditor .simditor-body p,
.simditor .simditor-body div,
.editor-style p,
.editor-style div {
  line-height: 26px;
  margin: 0;
}

.simditor_header {
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: none;
}

.simditor .simditor-body h1,
.simditor .simditor-body h2,
.simditor .simditor-body h3,
.simditor .simditor-body h4,
.simditor .simditor-body h5 {
  margin: 0;
  padding: 6px 0;
  font-weight: bold;
}

.CodeMirror_title {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
  overflow: hidden;
  margin-bottom: 20px;
}

.CodeMirror_title>input {
  width: 100%;
  height: 100%;
  color: #262626;
  font-weight: 700;
  font-size: 30px;
}

.CodeMirror_title_left {
  width: 48px;
  height: 100%;
  background-color: #f7f7f7;
  flex-shrink: 0;
  justify-content: center;
}

.CodeMirror_title_left>img {
  width: 20px;
}