.Footer_Wrapper {
  width: 100%;
  padding: 10px 0 20px 0;
  position: relative;
}

.Footer_Wrapper_Tip {
  justify-content: center;
  flex: 1;
  /* border-bottom: 1px solid #e8e8e8; */
  font-size: 14px;
  max-width: 600px;
  margin: auto;
  padding-bottom: 10px;
}

.Footer_Wrapper_Tip>div>span {
  font-weight: 500;
}

.Footer_Wrapper_Tip>div>img {
  width: 40px;
  padding: 10px;
  box-sizing: content-box;
}

.Footer_Wrapper_Tip>span {
  color: #595959;
  padding: 0 10px;
}