.footer-wrapper {
  width: 100%;
  padding: 10px 0 20px 0;
  position: relative;
}

.footer-wrapper_Tip {
  justify-content: center;
  flex: 1;
  font-size: 14px;
  max-width: 600px;
  margin: auto;
  padding-bottom: 10px;
}

.footer-wrapper_Tip>div>span {
  font-weight: 500;
}

.footer-wrapper_Tip>div>img {
  width: 40px;
  padding: 10px;
  box-sizing: content-box;
}

.footer-wrapper_Tip>span {
  color: #595959;
  padding: 0 10px;
}