.Button{
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  color: #595959;
  box-sizing: border-box;
  height: 32px;
  text-align: center;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  transition: all linear 0.2s;
  justify-content: center;
}
.Button_loading{
  opacity: 0.5;
  cursor: not-allowed;
}
.Button_loading_Icon{
  color: inherit;
  width: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.Button_primary{
  color: #fff;
  background-color: #25b864;
  border-color: #25b864;
}
.Button_default:not(.Button_disabled):hover{
  background-image: linear-gradient(0deg,#f5f5f5,#fff);
  background: #fafafa;
  color: #47c479;
  border-color: #47c479;
}
.Button_default:not(.Button_disabled):active{
  color: #16914f;
  background-color: #fafafa;
  border-color: #16914f;
}
.Button_primary:not(.Button_disabled):hover{
  color: #fff;
  background-color: #47c479;
  border-color: #47c479;
}
.Button_primary:not(.Button_disabled):active{
  color: #fff;
  background-color: #16914f;
  border-color: #16914f;
}
.Button_disabled{
  cursor: not-allowed;
  opacity: 0.4;
}
.Button_disabled>a{
  cursor: not-allowed;
}