.Article_Wrapper {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.Article_Preview_Wrapper {
  width: calc(100% - 445px);
  height: 100vh;
  flex-shrink: 0;
  background: rgb(249, 250, 251);
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 60px;
}

.Article_Preview_Wrapper_Big {
  width: calc(100% - 260px);
}

.Article_Preview_Wrapper_Big>#editormd>.editormd-preview {
  width: 100% !important;
}

#editormd {
  min-height: calc(100vh - 260px);
  border: none;
  margin-bottom: 0;
  background: rgb(249, 250, 251);
}

.editormd_mobile .editormd-preview .editormd-preview-active {
  padding: 16px;
}

.Footer_Meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  box-sizing: border-box;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}

.Footer_Meta_Item {
  display: flex;
  align-items: center;
  color: #8c8c8c;
  font-size: 14px;
  margin-right: 16px;
}

.Footer_Meta_Item>.Icon {
  margin-right: 7px;
  position: relative;
  top: 1px;
}

.Footer_Meta_Item:first-child>span {
  max-width: 120px;
}

.editormd-preview {
  height: auto !important;
  position: relative;
  width: 100% !important;
}

.Article_Preview_Wrapper>h1 {
  color: #262626;
  font-weight: 700;
  font-size: 36px;
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  background: rgb(249, 250, 251);
}

.article_preview_wrapper_m {
  width: 100%;
  padding-bottom: 40px;
}

.article_no_catalog {
  width: calc(100% - 224px);
}

.Article_DraftTips_Warpper {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 24px;
}

.article_draftTip_mobile {
  padding: 0;
  font-size: 12px;
  margin-bottom: 0;
}

.article_draftTip_mobile .Article_DraftTips_P {
  font-size: 12px;
}

.article_draftTip_mobile .Article_DraftTips_P .Tag {
  transform: scale(0.8);
  margin-right: 0;
}

.article_preview_wrapper_m>h1 {
  font-size: 22px;
  padding: 10px 16px;
}

.Article_DraftTips {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 16px 20px;
}

.Article_DraftTips>img {
  width: 40px;
  margin-right: 12px;
}

.Article_DraftTips_P {
  color: #595959;
  font-size: 14px;
}

.Article_DraftTips_P>.Tag {
  cursor: pointer;
  margin-right: 14px;
}

.Article_DraftTips>div>p>span {
  font-size: 12px;
  font-weight: 600;
  padding: 0 4px;
}