.Article_Wrapper {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: #fff;
}

.Article_Preview_Wrapper {
  width: calc(100% - 224px);
  max-width: 850px;
  height: 100vh;
  flex-shrink: 0;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  padding: 0 36px;
  padding-bottom: 60px;
}

.Article_Preview_Wrapper::-webkit-scrollbar {
  width: 0 !important
}

.Article_Preview_Wrapper_Big {
  width: calc(100% - 260px);
}

.article_catalog {
  padding-top: 0;
  position: fixed;
  padding-top: 60px;
}

.article_catalog>.Catalog_box>.Catalog_item {
  padding-left: 14px;
  border-left: 2px solid #e8e8e8;
}

.Footer_Meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}

.Footer_Meta_Item {
  display: flex;
  align-items: center;
  color: #8c8c8c;
  font-size: 14px;
}

.Footer_Meta_Item>.Icon {
  margin-right: 7px;
  position: relative;
  top: 1px;
}

.Footer_Meta_Item:first-child>span {
  max-width: 120px;
}

.Article_Preview_Wrapper>h1 {
  font-weight: 700;
  font-size: 36px;
  padding: 16px 0;
  background: #fff;
  color: #262626;
}

.article_html {
  font-size: 16px;
  font-family: arial, sans-serif;
  line-height: 1.6;
  padding-bottom: 80px;
  min-height: calc(100vh - 86px);
}

.article_html h1,
.article_html h2,
.article_html h3,
.article_html h4,
.article_html h5 {
  padding: 6px 0;
}

.article_html h1 {
  font-size: 24px;
}

.article_html h2 {
  font-size: 22px;
}

.article_html h3 {
  font-size: 20px;
}

.article_html h4 {
  font-size: 18px;
}

.article_html h5 {
  font-size: 16px;
}

.article_html hr {
  height: 0px;
  border: 0;
  border-top: 2px solid #e8e8e8;
  margin: 15px 0;
  padding: 0;
}

.article_html p {
  margin: 0;
  color: #333;
  word-wrap: break-word;
  line-height: 26px;
}

.article_html img {
  margin: 0 5px;
  vertical-align: middle;
}

.article_preview_wrapper_m {
  width: 100%;
  padding-bottom: 40px;
}

.article_no_catalog {
  width: calc(100% - 224px);
}

.Article_DraftTips_Warpper {
  width: 100%;
  padding: 16px 20px;
  padding-bottom: 0;
}

.article_draftTip_mobile {
  padding: 0;
  font-size: 12px;
  margin-bottom: 0;
}

.article_draftTip_mobile .Article_DraftTips_P {
  font-size: 12px;
}

.article_draftTip_mobile .Article_DraftTips_P .Tag {
  transform: scale(0.8);
  margin-right: 0;
}

.article_preview_wrapper_m>h1 {
  font-size: 22px;
  padding: 10px 16px;
}

.Article_DraftTips {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 16px 20px;
}

.Article_DraftTips>img {
  width: 40px;
  margin-right: 12px;
}

.Article_DraftTips_P {
  color: #595959;
  font-size: 14px;
}

.Article_DraftTips_P>.Tag {
  cursor: pointer;
  margin-right: 14px;
}

.Article_DraftTips>div>p>span {
  font-size: 12px;
  font-weight: 600;
  padding: 0 4px;
}