.Article_Wrapper {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.Article_Preview_Wrapper {
  width: calc(100% - 460px);
  height: 100vh;
  flex-shrink: 0;
  background: #ffffff;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Article_Preview_Wrapper_Big{
  width: calc(100% - 260px);
}
.Article_Preview_Wrapper_Big>#editormd>.editormd-preview{
  width: 100% !important;
}

#editormd {
  min-height: calc(100vh - 260px);
  border: none;
  margin-bottom: 0;
}

.Footer_Meta {
  display: flex;
  align-items: center;
  padding: 0 22px;
  box-sizing: border-box;
}

.Footer_Meta_Item {
  display: flex;
  align-items: center;
  color: #8c8c8c;
  font-size: 14px;
  margin-right: 16px;
}

.Footer_Meta_Item>div {
  margin-right: 7px;
  position: relative;
  top: 2px;
}

.editormd-preview {
  height: auto !important;
  position: relative;
}

.Article_Preview_Wrapper>h1 {
  color: #262626;
  font-weight: 700;
  font-size: 36px;
  padding: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}