@media screen and (max-width: 1338px) {
    .Editormd_Wrapper>.article-catalog-wrapper>.catalog-title {
        padding-bottom: 23px;
        padding-top: 34px;
        line-height: normal;
        height: auto;
    }
}

/* 文章页面/article/ 隐藏左侧目录 */
@media screen and (max-width: 1000px) {
    .bookcatalog-wrapper {
        display: none;
    }

    .article-preview {
        width: calc(100% - 220px);
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .siderbar-layout {
        display: none;
    }

    .Content {
        width: 100%;
        max-width: 100%;
    }

    .docs>.content-wrapper_index {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .Right_Panel_Layout {
        display: none;
    }

    .header-link {
        display: none;
    }

    .content-recent-edit {
        display: none;
    }

    .content-recent-edit-m {
        display: flex;
    }
}

@media screen and (max-width: 750px) {
    .New_Choose {
        width: 100%;
        border-right: none;
    }

    .New_Preview {
        display: none;
    }

    .Scene {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .content-wrapper_index {
        padding: 0;
    }

    .bookcatalog-wrapper {
        display: none;
    }

    .article-preview {
        width: 100%;
    }

}


@media screen and (max-width: 490px) {
    .header-search {
        display: none;
    }

    .header-right>.popover-wrapper {
        margin-right: 20px;
    }

    .Footer_Wrapper>.Footer_Wrapper_Tip {
        flex-direction: column;
    }

    .Footer_Wrapper>.Footer_Wrapper_Tip>div>img {
        width: 30px;
    }
}


/* 450以下为mobile */
@media screen and (max-width: 450px) {
    .Spacbookcatalog-wrappere_Operation_Icon {
        display: none;
    }

    .header-title {
        margin-left: 0;
    }
}