@media screen and (max-width: 800px) {
    .SiderBar_Layout {
        display: none;
    }

    .Content {
        width: 100%;
        max-width: 100%;
    }

    .space>.Content_Wrapper_Index {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .docs>.Content_Wrapper_Index {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .Space_Table {
        border: none;
    }

    .Right_Panel_Layout {
        display: none;
    }

    .Header_link {
        display: none;
    }

    .content-recent-edit {
        display: none;
    }

    .content-recent-edit-m {
        display: flex;
    }
}

@media screen and (max-width: 490px) {
    .Header_Search {
        display: none;
    }

    .Header_right>.Popover_Wrapper {
        margin-right: 20px;
    }

    .Footer_Wrapper>.Footer_Wrapper_Tip {
        flex-direction: column;
    }

    .Footer_Wrapper>.Footer_Wrapper_Tip>div>img {
        width: 30px;
    }
}

@media screen and (max-width: 750px) {
    .New_Choose {
        width: 100%;
        border-right: none;
    }

    .New_Preview {
        display: none;
    }

    .Scene {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .BookCatalog_Wrapper {
        display: none;
    }

    .Article_Preview_Wrapper {
        width: 100%;
    }

}

/* 450以下为mobile */
@media screen and (max-width: 450px) {
    .SpacBookCatalog_Wrappere_Operation_Icon {
        display: none;
    }

    .Header_title {
        margin-left: 0;
    }
}

@media screen and (max-width: 1338px) {
    .Editormd_Wrapper>.Article_Catalog_Wrapper>.Catalog_title {
        padding-bottom: 23px;
        padding-top: 34px;
        line-height: normal;
        height: auto;
    }
}

/* 文章页面/article/ 隐藏右侧文章目录 */
@media screen and (max-width: 1280px) {
    .article_catalog {
        display: none;
    }
}

/* 文章页面/article/ 隐藏左侧目录 */
@media screen and (max-width: 1000px) {
    .BookCatalog_Wrapper {
        display: none;
    }

    .Article_Preview_Wrapper {
        width: 100%;
    }
}