.breadcrumb-item {
  color: #595959;
  font-size: 14px;
}

.breadcrumb-item>a {
  color: #595959;
  font-size: 14px;
  max-width: 190px;
}

.breadcrumb-item>span {
  padding: 0 8px;
  font-size: 14px;
}