.create_loading{
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.create_loading>.Icon{
  font-size: 26px;
}
.create_modal_tips{
  font-size: 14px;
  margin-top: 10px;
  color: #333333;
}
