.article-header {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06);
    background: #ffffff;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
}

.article-header_content {
    max-width: 1242px;
    min-width: 700px;
    height: 58px;
    will-change: margin;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.article-header_content_Hide {
    margin-top: -58px;
}

.article-header_left,
.article-header_right {
    max-width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


.article-header_left>.Breadcrumb {
    width: 100%;
}

.article-header_favicon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.article-header_title {
    display: block;
    height: 100%;
    background: url('/images/logo.jpeg') no-repeat 0 0;
    width: 97px;
    height: 84%;
    background-size: contain;
    margin-right: 18px;
    flex-shrink: 0;
}

.article-header_title>span {
    font-size: 14px;
    font-weight: 700;
    color: #262626;
    position: relative;
    left: -134px;
}

.article-header_Edit_Btn {
    border-radius: 4px;
}

.article-header_Edit_Btn>.button {
    background: #47c479;
    color: #ffffff;
    border: 1px solid #47c479;
}

.article-header_Edit_Btn>div {
    height: 32px;
    background: #47c479;
    display: flex;
    align-items: center;
    border-left: 1px solid rgb(255, 255, 255, 0.6);
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.article-header_Edit_Btn>div>i {
    position: relative;
    top: 1px;
    color: #ffffff;
}

.article-header_Fun_Icon>i {
    font-size: 23px;
    position: relative;
    top: 1px;
    padding: 0 20px;
    cursor: pointer;
}

.article-header_Fun>p {
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #595959;
    padding: 0 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.article-header_Fun>p:hover {
    color: #595959;
    background: #e9f7ec;
    transition: background .3s cubic-bezier(.645, .045, .355, 1);
}

.article-header_right>.popover-wrapper>.popover-wrapper__content {
    left: -60px;
    top: 56px;
}

.article-header_Save {
    line-height: 22px;
    font-size: 12px;
    color: #8c8c8c;
    margin-left: 20px;
    flex-shrink: 0;
}

.article-header_mobile .article-header_content {
    min-width: 100%;
}