.Article_Header_Wrapper{
    max-width: 1200px;
    height: 58px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.06);
    position: relative;
    z-index: 1;
    will-change: margin;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Article_Header_Wrapper_Hide{
    margin-top: -58px;
}
.Article_Header_left, .Article_Header_right{
    height: 100%;
    display: flex;
    align-items: center;
}
.Article_Header_left{
    padding-left: 12px;
    box-sizing: border-box;
}
.Article_Header_favicon{
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
.Article_Header_title{
    display: block;
    margin-left: 10px;
    max-width: 180px;
    font-size: 18px;
    font-weight: 500;
    color: #262626;
}