.nav_container{
    width: 100%;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.left_munu{
    background: #1ab394;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 20px;
}
.right_munu{
    display: flex;
    align-items: center;
}
.right_munu_btn{
    margin-right: 10px;
}
.right_munu-dropdown-link, .right_munu_icon{
    color: #1ab394;
    padding: 15px 20px;
    font-weight: 600;
    line-height: 20px;
    font-size: 13px;
    height: 50px;
    display: block;
}
.right_munu_icon{
    font-weight: bold;
    font-size: 20px;
}
.right_munu_failed{
    color: red;
}
.ant-drawer-body{
    padding: 0;
}
.drawer_munu_note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px !important;
}
.drawer_munu_note > .anticon-plus-circle{
    color: #1ab394;
    font-size: 16px;
    transition: all linear 0.2s;
}
.drawer_munu_note > .anticon-plus-circle:hover{
    font-size: 20px;
}
.drawer_munu_basket{
    padding-left: 10px !important;
}
.nav_create_note_tip{
    margin-top: 10px;
}
.sub_note_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub_note_settings > button{
    display: block;
    width: 100%;
    margin-top: 6px;
}
.nav_search{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}