.nav_container{
    width: 100%;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.left_munu{
    background: #1ab394;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 20px;
}
.right_munu{
    display: flex;
    align-items: center;
}
.right_munu_btn{
    margin-right: 10px;
}
.right_munu-dropdown-link, .right_munu_icon{
    color: #1ab394;
    padding: 15px 20px;
    font-weight: 600;
    line-height: 20px;
    font-size: 13px;
    height: 50px;
    display: block;
}
.right_munu_icon{
    font-weight: bold;
    font-size: 20px;
}
.right_munu_failed{
    color: red;
}