.bookcatalog-wrapper {
  width: 224px;
  min-height: 100vh;
  flex-shrink: 0;
  border-right: 1px solid #e8e8e8;
  background: #fafafa;
  box-sizing: content-box;
  position: fixed;
  top: auto;
  left: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.bookcatalog-content {
  width: 232px;
  padding: 28px 24px 24px 24px;
  height: 100vh;
  overflow-y: scroll;
}

.bookcatalog-content>.Icon {
  font-size: 32px;
  padding: 20px;
}

.bookcatalog-content__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bookcatalog-content__head>h6 {
  font-size: 12px;
  font-weight: 500;
  color: #262626;
}

.bookcatalog-content__head>div>.Icon {
  cursor: pointer;
}

.bookcatalog-item {
  position: relative;
  padding-right: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bookcatalog-item:last-child {
  margin-bottom: 80px;
}

.bookcatalog-item:hover {
  background: #f5f5f5;
  transition: background 0.2s linear;
}

.bookcatalog-item>.Icon {
  font-size: 12px;
  transition: all linear 0.2s;
  transform: rotate(-90deg) scale(0.8);
  cursor: pointer;
}

.bookcatalog-item__open>.Icon {
  transform: rotate(0deg) scale(0.8);
  margin-top: 1px;
}

.bookcatalog-item:not(.bookcatalog-item__folder)>.bookcatalog {
  margin-left: 10px;
}

.bookcatalog {
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #595959;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.bookcatalog-active {
  font-weight: bold;
  color: #25b864;
}

.bookcatalog-item__folder {
  font-weight: bold;
}

.bookcatalog-setting {
  position: absolute;
  right: 0;
  top: 6px;
  display: none;
  height: auto;
}

.bookcatalog-setting:hover>.Icon {
  color: rgb(37, 184, 100);
}

.bookcatalog-item:hover .bookcatalog-setting {
  display: block;
}

.bookcatalog-item__setting-open {
  display: block;
}

.template-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 688px;
}

.template {
  width: 160px;
  min-height: 226px;
  border: 1px solid #e8e8e8;
  background: #fff;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px;
  position: relative;
  flex-shrink: 0;
  margin: 0 6px;
  transition: all linear 0.2s;
  margin-bottom: 12px;
}

.template>img {
  width: 100%;
  height: auto;
}

.template>p {
  text-align: center;
  color: #595959;
  font-size: 12px;
}

.template-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.template:hover>.template-button {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.template-button>.button {
  width: 78%;
  margin-bottom: 12px;
}

.template-button>.Icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  color: #ffffff;
  font-size: 18px;
}