.dropdown-button {
  display: flex;
  align-items: center;
}

.dropdown-button__dropdown {
  padding: 0 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  left: -4px;
}

.dropdown-button__dropdown>.Icon {
  top: 1px;
}