.Popover_Wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.Popover_Wrapper_Box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

.Popover_Wrapper_Content {
  display: none;
  position: absolute;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  padding: 8px 0;
  border: none;
  z-index: 10;
}

.Popover_Wrapper_Content::before {
  content: '';
  width: 11px;
  height: 11px;
  border-width: 5px;
  border-top-left-radius: 2px;
  margin-top: -1px;
  position: absolute;
  background: #ffffff;
  transform: rotate(45deg);
  right: 25px;
  top: -4px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, .05);
}

.Popover_Wrapper_Content_show {
  display: block;
  animation-name: zoomIn;
  animation-duration: 200ms;
  z-index: 10;
}