.BookCatalog_Wrapper{
  width: 190px;
  padding: 27px 24px 24px 18px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e8e8e8;
}
.BookCatalog_Item{
  position: relative;
}
.BookCatalog_Item>.Icon{
  font-size: 12px;
  transition: all linear 0.2s;
  transform: rotate(-90deg);
  position: absolute;
  left: -12px;
  cursor: s;
}
.BookCatalog_Item_Open>.Icon{
  transform: rotate(0deg);
  left: -14px;
  margin-top: 1px;
}
.BookCatalog_NavLink{
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #595959;
  font-size: 12px;
}