.bookcatalog-wrapper {
  width: 224px;
  min-height: 100vh;
  flex-shrink: 0;
  border-right: 1px solid #e8e8e8;
  background: #fafafa;
  position: relative;
  padding-left: calc((100% - 1400px)/2);
  box-sizing: content-box;
}

.bookcatalog-content {
  width: 224px;
  padding: 28px 24px 24px 24px;
  position: fixed;
  top: auto;
  left: auto;
  min-height: 100vh;
  overflow-y: scroll;
}

.bookcatalog-item {
  position: relative;
}

.bookcatalog-item>.Icon {
  font-size: 12px;
  transition: all linear 0.2s;
  transform: rotate(-90deg);
  position: absolute;
  left: -12px;
  cursor: pointer;
}

.bookcatalog-item__open>.Icon {
  transform: rotate(0deg);
  left: -14px;
  margin-top: 1px;
}

.bookcatalog {
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #595959;
  font-size: 12px;
  position: relative;
}

.bookcatalog-item__parent {
  font-weight: bold;
}

.bookcatalog-setting {
  position: absolute;
  right: 0;
  top: 1px;
  /* display: none; */
}

.bookcatalog-setting:hover>.Icon {
  color: rgb(37, 184, 100);
}

/* .bookcatalog-wrapper:hover .bookcatalog-setting {
  display: block;
} */