.catalog-wrapper {
    width: 221px;
    height: 100vh;
    overflow: hidden;
    padding-left: 34px;
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.catalog-title {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 0;
    padding-top: 0px;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.catalog-box {
    max-height: 100vh;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 200px;
    box-sizing: border-box;
}

.catalog-item {
    font-size: 12px;
    color: #595959;
    padding: 4px 0;
    padding-left: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-left: 2px solid #e8e8e8;
    transition: all linear 0.2s;
}

.catalog-item__active {
    border-left: 2px solid #25b864;
    color: #25b864;
}

.catalog-item:hover {
    color: #25b864;
}

.catalog-item>span {
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.catalog-item_h2 {
    padding-left: 16px;
}

.catalog-item_h3 {
    padding-left: 32px;
}

.catalog-item_h4 {
    padding-left: 48px;
}

.editormd-toolbar {
    left: 0 !important;
}