.siderbar-layout {
  width: 206px;
  max-width: 20%;
  flex-shrink: 0;
  padding-right: 20px;
}

.siderbar-link {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 5px;
  padding-left: 32px;
  box-sizing: border-box;
  color: #8c8c8c;
  font-size: 14px;
  transition: all linear 0.2s;
}

.siderbar-link>img {
  width: 20px;
  flex-shrink: 0;
  margin-right: 10px;
}

.siderbar-link>span {
  font-weight: inherit
}
.siderbar-link:hover{
  color: inherit;
  background: #e8e8e8;
}

.SiderBar_Line {
  display: block;
  height: 1px;
  background: #e8e8e8;
  margin-top: 10px;
  margin-left: 32px;
  width: 100px;
}