.Content_Layout{
  flex: 1;
}
.Content_Layout_Head{
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.Content_Layout_Recent_Edit{
  color: #262626;
  font-weight: bold;
  font-size: 14px;
}
.Recent_Content_Layout{
  width: 100%;
}
.Recent_Content_Empty{
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 27px;
  text-align: center;
  line-height: 20px;
  color: #8c8c8c;
  box-sizing: border-box;
}