.Recent_Content {
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  margin-bottom: 8px;
  -webkit-transition: box-shadow .35s ease;
  transition: box-shadow .35s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  box-sizing: border-box;
}

.recent_content_point {
  cursor: pointer;
}

.Recent_Content:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.Recent_Content_Left {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.Recent_Content_Left>img {
  width: 29px;
}

.Recent_Content_Left_Info {
  margin-left: 10px;
  max-width: calc(100% - 30px);
}

.Recent_Content_Left_Info>p {
  color: #262626;
  font-size: 14px;
  max-width: 100%;
  font-weight: 600;
}

.Recent_Content_Left_Info>span {
  font-size: 12px;
  color: #8c8c8c;
  margin-right: 14px;
}

.Recent_Content_Right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  flex-shrink: 0;
}

.Recent_Content_Item {
  margin-left: 20px;
  cursor: pointer;
}

.Recent_Content_Item_Img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}